.header {
    background: rgba(255, 255, 255, 0.3);
    mix-blend-mode: normal;
    border: 2px solid #fff;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
}

.navbar-light .navbar-nav .nav-link {
    border: 2px solid transparent;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #2E75FF;
    border: 2px solid #EAEDF5;
    box-sizing: border-box;
    border-radius: 8px;
}

.navbar-collapse {
    justify-content: flex-end;
}

.first-image-left {
    margin-top: 100px;
}

.first-image-left h1{
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
    letter-spacing: -0.4px;
    color: #1652AC;
}

.first-image-left .first-image-text {
    margin-top: 120px;
    font-weight: 600;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.4px;
    position: relative;
    color: #020303;
}

.first-image-left .first-image-text::before,
.first-image-left .first-image-text::after {
    content: "";
    display: block;
    position: absolute;
    width: 227px;
    height: 5px;
    background-color: silver;
}

.first-image-left .first-image-text::before {
    top: -55px;
}

.first-image-left .first-image-text::after {
    bottom: -55px;
}

.first-image-text-two {
    font-size: 17px;
    line-height: 32px;
    color: #45494F;
}


